Game type: <input ng-model="model.game.game_type" type="radio" value="mcr">MCR</input>
<input ng-model="model.game.game_type" type="radio" value="riichi">Riichi</input><br>
Number of winds: <input ng-model="model.game.number_of_winds" placeholder="1-4"></input><br>
Date: <input ng-model="model.date" placeholder="format: YYYY-MM-DD"></input><br>
Finished time: <input ng-model="model.finished_time" placeholder="format: HH:MM"></input><br>

<div ng-repeat="gp in model.game.game_players">
    Player <input ng-model="gp.player_name" typeahead="player.name for player in model.players | filter:$viewValue | limitTo:8" typeahead-on-select="gp.player = $item.id"></input> Score <input ng-model="gp.score"></input>
</div>

<button class="btn btn-primary" ng-click="save()">Create</button>