<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>EMA #</th>
        <th>Mahjong DK Member</th>
        <th>Nationality</th>
        <th>Hidden</th>
        <th ng-show="isLoggedIn()">Delete</th>
    </thead>
    <tbody>
        <tr ng-repeat="p in model.players">
            <td><a href="#/players/{{p.id}}">{{p.name}}</a></td>
            <td>03000001</td>
            <td>Yes</td>
            <td>Danish</td>
            <td>No</td>
            <th ng-show="isLoggedIn()"><a ng-click="delete(p)">x</a></th>
        </tr>
    </tbody>
</table>
